// parametros Generales

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none
    font-family: 'Public Sans', sans-serif

nav
    display: inline-flex
    position: static
    width: 100%
    height: 65px
    background-color: rgb(21, 22, 23)
    z-index: 2
    .nav-left
        margin: 5px 5px 5px 10px
        width: 240px
        img
            border: 1px solid black
            object-fit: cover
            height: 55px
    .nav-mid
        display: flex
        position: relative
        margin: 0 10px
        width: 58vw
        height: 45px
        top: 10px
        border-radius: 5px
        select
            width: 70px
            height: 43px
            border-radius: 5px 0 0 5px
            padding: 5px
            font-weight: 800
            border: none
            background: rgba(224, 220, 220, 0.996)
            color: rgb(146, 152, 160)
            font-size: 12px
        input
            position: relative
            width: 885px
            height: 43px
            padding: 10px
            font-size: 14px
            font-weight: 800
            color: rgb(146, 152, 160)
            border: none
            border-left: 0.5px solid rgb(146, 152, 160)
        button
            width: 55px
            height: 43px
            border-radius: 0 5px 5px 0
            font-size: 20px
            background: rgba(241, 169, 35, 0.993)
            border: none
    .nav-right
        display: flex
        position: relative
        width: 23vw
        margin: 5px 5px 5px 5px
        .dropdown
            position: relative
            display: inline-block
        .dropbtn1
            background-color: black
            color: white
            font-size: 12px
            font-weight: 700
            border: none
            cursor: pointer
            width: 58px
            height: 56px
        .dropbtn
            background-color: black
            color: white
            font-size: 11px
            font-weight: 700
            border: none
            cursor: pointer
            width: 95px
            height: 56px
        .dropdown-content
            display: none
            position: absolute
            left: 0
            width: 260px
            height: 460px
            background-color: white
            border: 1px solid rgb(197, 199, 202)
            z-index: 1
            p
               font-size: 14px
               color: black 
               margin: 10px
               cursor: default
               span
                color: #71c4fc 
                font-size: 12px
                margin-left: 12px
                &:hover
                    color:#fd9607 
                    text-decoration: underline
                    text-decoration-color: rgba(250, 143, 4, 0.993)
            input
                accent-color: #fd9607
            a
                font-size: 14px
                color: black
                display: flex
                gap: 10px
                margin: 10px
                cursor: pointer
            a:hover
                text-decoration: underline
                text-decoration-color: rgba(250, 143, 4, 0.993)
                
            .ligt
                position: relative
                color: #71c4fc 
                font-size: 12px
                left: 200px
                top: -15px
                &:hover
                   color:#fd9607 
                   text-decoration: underline
                   text-decoration-color: rgba(250, 143, 4, 0.993)   
                   cursor: pointer
            .fnl
                color: #2376c9
                margin: 10px 0 10px 60px
        .dropdown-content2
            display: none
            position: absolute
            right: -150px
            width: 460px
            height: 480px
            background-color: white
            border: 1px solid rgb(197, 199, 202)
            z-index: 2
            .one
                display: grid
                font-size: 14px
                justify-content: center
                button
                    margin: 15px 0 5px 0
                    width: 235px
                    height: 40px
                    background-color: #FFD814
                    border-radius: 5px
                    border: none
                    font-weight: 600
                    &:hover
                       text-decoration: underline
                       text-decoration-color: rgba(250, 143, 4, 0.993) 
                p
                    font-size: 12px
                    text-align: center
                    color: black
                    span
                        color: #1c85e7
                        cursor: pointer
                        &:hover
                            color: rgba(250, 143, 4, 0.993)  
                            text-decoration: underline
                            text-decoration-color: rgba(250, 143, 4, 0.993)  
            .two
                display: flex
                margin: 15px 10px 10px
                font-size: 14px
                a
                    display: grid
                    color: black
                    margin: 10px 10px 0 10px
                h4
                    margin: 10px
            a:hover
                color: rgba(250, 143, 4, 0.993)
                text-decoration: underline
                text-decoration-color: rgba(250, 143, 4, 0.993)
        img
            border: 1px solid black
            width: 100px
            height: 54px

//&:hover 
// hover nav-left    
nav .nav-left img:hover    
            border: 1px solid white
            cursor: pointer

//hover nav-mid
nav .nav-mid select:hover
            border: 1px solid rgba(250, 143, 4, 0.993)
            background-color: rgb(205, 208, 213)
            cursor: pointer

nav .nav-mid button:hover
            background-color: rgba(250, 143, 4, 0.993)
            cursor: pointer

nav .nav-mid input:hover
            border: 1px solid rgba(250, 143, 4, 0.993)

// hover nav-right  
nav .nav-right .dropdown:hover .dropdown-content
            display: block

nav .nav-right .dropdown:hover .dropdown-content2
            display: block

nav .nav-right img:hover
            border: 1px solid white
            cursor: pointer

nav .nav-right button:hover
            border: 1px solid white
            cursor: pointer

//Subnav
.subnav
    position: static
    display: flex
    align-items: center
    font-size: 14px
    width: 100%
    height: 45px
    background-color: rgb(35, 47, 62)
    color: white
    label
        border: 1px solid rgb(35, 47, 62)
        justify-content: center
        padding: 14px
        height: 45px
        &:hover
           border: 1px solid white
           cursor: pointer
    i
        font-size: 16px
    a
        color: white
        padding: 14px
        height: 45px
        border: 1px solid rgb(35, 47, 62)
        &:hover
          border: 1px solid white
          cursor: pointe
.int
    display: none

// Sidebar   

// Boton de Cierre
.lab
    color: white
    font-size: 23px
    margin: 15px 15px
    transition: all 200ms ease
    z-index: 3
//Sidebar
.container-menu
    position: fixed
    display: flex
    background-color: rgba(0, 0, 0, 0.5)
    width: 100%
    top: 0
    left: 0
    opacity: 1
    transition: all 200ms ease
    visibility: hidden
    z-index: 3
    .login
        text-decoration: none
        display: flex
        align-items: center
        width: 100%
        height: 7vh
        background: rgb(35, 47, 62)
        font-size: 20px
        font-weight: 700
        a
            text-decoration: none
            color: white
            margin-left: 35px
        i
            font-size: 25px

#btn-menu:checked~.container-menu
    opacity: 1
    visibility: visible

.cont-menu
    position: adsolute
    background: white
    width: 400px
    height: 100vh
    transition: all 200ms ease
    transform: translateX(-100%)
    .cont
        overflow-y: scroll
        height: 93%
        .final
            margin-bottom: 60px
    .cont a
        display: flex
        padding: 10px
        color: black
        margin: 10px 10px 10px 20px
        font-weight: 500
        font-size: 15px
        i
            color: rgb(100, 109, 120)
    .cont .move
        display: flex
        justify-content: space-between
    .cont h3
        display: block
        padding: 10px
        margin: 5px 5px 5px 20px
        font-weight: bolder
    .cont p
        border-bottom: 0.2px solid rgb(181, 185, 190)
        width: 100%
        margin: 5px 0px 5px 0px

.cont-menu .cont a:hover
    background-color: rgb(237, 237, 239)
    i
        color: black

.cont-menu .cont
    transform: translateY(0.5%)

#btn-menu:checked~.container-menu .cont-menu
    transform: translateX(0%)
   
// Content

.all 
   height: 2100px  
   background-color: rgb(227, 227, 227)
section 
    background-image: linear-gradient(to top, #e3e6e6, transparent), url("https://m.media-amazon.com/images/I/71wF9F80B+L._SX3000_.jpg")
    background-size: 100% 32%, contain
    background-repeat: no-repeat
    background-position-x: -25px 
    display: flex
    position: relative
    height: 280vh
    .categories
      display: inline-table
      position: relative
      width: 96%
      top:260px
      left: 60px
    .box
       display: inline-block
       background-color: white
       width: 22vw
       height: 56vh
       margin: 8px
    h2 
        display: inline-block
        width: 22vw
        height: 8vh
        padding: 13px 0 5px 30px
        font-size: 22px
    img
        display: inline-block
        width: 325px
        height: 300px
        padding: 10px 0 5px 30px
    a  
        color: black
        display: inline-block
        font-size: 13px
        padding:  15px 0 5px 30px 
        &:hover
           color: rgba(250, 143, 4, 0.993)
           text-decoration: underline
           text-decoration-color: rgba(250, 143, 4, 0.993)
   
// Identificate

.box1
        width: 100%
        height: 220px
        justify-content: center
        align-content: center
.box-cont
        border: 1px solid rgb(197, 199, 202) 
        border-radius: 10px 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
        width: 100%
        height: 150px
        left: 0
        right: 0
        gap: 10px
        font-weight: 900
        button
            width: 250px
            height: 40px
            background-color: #eac409
            border: 2px solid  #f7d00c
            border-radius: 5px
            font-weight: 600 
            cursor: pointer
        p   
            font-size: 13px
            color: black
            span
                color: rgb(35, 47, 62)
                cursor: pointer
            span:hover
                 color: rgba(250, 143, 4, 0.993)
                 

// Boton de inicio al final de la pagina
.butt
    display: flex
    justify-content: center
    align-items: center
    background-color: rgb(55, 71, 90)
    button
        width: 98vw
        height: 55px
        background-color: transparent
        border: none
        color: white
        font-size: 14px
        font-weight: 600
    button:hover
        background-color: rgb(64, 83, 107)

//footer 1parte
.fotr1
    background-color: #24303f
    display: flex
    position: relative
    width: 100%
    height: 55vh
    justify-content: center
    .c1
        display: inline-block
        position: relative
        width: 280px
        color: white
        font-size: 15px
        h3
          margin: 55px 20px 10px 20px
        a
            color: white
            display: flex
            margin: 10px 20px
        a:hover
            text-decoration: underline
            text-decoration-color: white

    //footer 2parte
.fotr2
    display: flex
    position: relative
    background-color: #24303f
    border: 1px solid  rgb(55, 71, 90)
    width: 100%
    height: 125px
    justify-content: center
    align-items: center   
    img
        width: 125px
        height: 45px 
        margin-right: 60px  
        cursor: pointer 
    button
        height: 35px
        color: white
        background-color: transparent
        border: 1px solid rgb(184, 186, 187)
        text-align: start
        padding: 10px
        border-radius: 2px
        font-size: 13px
        margin: 0px 5px
        cursor: pointer
    .two
        width: 240px
    .three
        width: 170px

    .dropdown 
        .one
            width: 135px
        .dropdown-content3
            display: none
            position: absolute
            left: 600px
            width: 280px
            height: 290px
            background-color: white
            border: 1px solid rgb(197, 199, 202)
            z-index: 1
            input
                accent-color: #fd7a07
                cursor: pointer
            p
                font-size: 14px
                color: black 
                margin: 10px
                cursor: default
                span
                    color: #2079bd
                    font-size: 11px
                    margin-top: 5px
                    margin-left: 10px
                    cursor: pointer
                span:hover
                    color: #fd7a07
            a
                font-size: 14px
                color: black
                display: flex
                gap: 10px
                margin: 10px
            a:hover
                color: #fd7a07
                text-decoration: underline 
                text-decoration-color: #fd7a07
               
   
            
    .dropdown:hover .dropdown-content3
                display: block

//footer 3parte

.fotr3
    background-color: rgb(19, 26, 34)
    color: white
    display: flex
    position: adsolute
    height: 55vh
    justify-content: center
    font-size: 12px
    gap: 20px
    h4
       position: relative
       top: 35px
       margin: 0px 15px 0  15px
    h4:hover
       text-decoration: underline
       text-decoration-color: white
       cursor: pointer
    p
       position: relative
       top: 35px
       margin: 0 15px 30px  15px 
       color: rgb(153, 153, 153)
    p:hover
       text-decoration: underline
       text-decoration-color: rgb(153, 153, 153)
       cursor: pointer

// foter final

.fotr4
    background-color: rgb(19, 26, 34)
    color: white
    display: grid
    position: relative
    width: 100%
    height: 10vh
    font-size: 13px
    justify-content: center
    align-items: center
    .b1
        display: flex
        gap: 10px
    p:hover
        text-decoration: underline
        text-decoration-color: rgb(153, 153, 153)
        cursor: pointer
    img
        position: relative
        width: 40px
        left: -5px
    .b2
       display: flex
       position: relative
       justify-content: center
       top: -15px
     



